<mat-card>
  <mat-card-content class="main-card">
    <mat-toolbar color="accent">
      <span>Cursos disponíveis</span>
    </mat-toolbar>

    <div *ngIf="cursos | async as cursos; else loading">
      <div class="header-row row">
        <div class="main-columns">
          <div class="col">Curso</div>
        <div class="col">Categoria</div>
        <div class="col acoes-header">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Adicionar um curso"
            (click)="add()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
        </div>
      <ng-container *ngIf="cursos.length > 0; else vazio">
        <div class="row curso-item" *ngFor="let curso of cursos">
          <div class="col">{{ curso.nome }}</div>

          <div class="col cell-flex">
            {{ curso.categoria }}
            <mat-icon
              aria-hidden="false"
              aria-label="Ícone de categoria"
              fontIcon="{{ curso.categoria}}"
            ></mat-icon>
          </div>

          <div class="col acoes">
            <button
              mat-icon-button
              color="primary"
              (click)="edit(curso)"
              aria-label="Editar curso"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              (click)="deletar(curso)"
              aria-label="Deletar curso"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-template #vazio>
      <div class="hint">
        <span>Nenhum curso foi encontrado.</span>
      </div>
    </ng-template>
  </mat-card-content>

  <ng-template #loading>
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
